body{
    color:#ffffff;
    background-image:url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 
}

h1{
    color:#dac3ff;
    text-align:center;
    text-decoration:underline;
    font-weight:bold;
    font-style:italic;
}

h2{
    color:#fad87b;
    text-align:center;
    font-weight:bold;
    font-style:italic;
}

p{
    color:#ffffff;
}

li{
    color:aqua;
}

a{
    color:#ffbb00
}

.Banner {
    background-color:black;
    border-radius:25px;
}

.profile-card {
    width: 300px;
    padding: 16px;
    margin: 12px;
    border: 2px solid #444;
    border-radius: 8px;
    background-color: #923b41;
    box-shadow: 0 4px 8px rgba(0,0,0,0.80);
    box-sizing: border-box;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}

.centred-content {
    max-width: 800px;
    height: 100%;
    background-image: url(images/kokuhaori.jpg);
    margin-left: auto;
    margin-right: auto;
    padding: 50px
}

.navbar {
    text-align: center;
    width: 100%;
}
/* stuff that doesnt change */
.navbutton {
    background-color: #6e1627;
    border: 2px dashed #444;
    
    display: inline-block;
    width: 150px;
    height: 35px;
    vertical-align:middle;
    margin: 10px;
    padding: 10px;
}

/* default - mobile/phone */
.navbutton {
    width: 100%;
    margin: -2px;
}

/* tablet and up */
@media (min-width: 830px) {
    .navbutton {
        display: inline-block;
        width: 25%;
        margin: -4px;

    }
}
    
/* large desktop */
@media (min-width: 1200px) {
    .navbutton {
        display: inline-block;
        width: 150px;
        margin: 10px;
    }
}