body{
    color:crimson;
    background-color: #edd8ff;
    font-family:Cambria, Cochin, Georgia, Times, 
}

h1{
    color:darkviolet;
    text-align:center;
    text-decoration:underline;
    font-weight:bold;
    font-style:italic;
}

p{
    color:#d1990d;
}

li{
    color:#2bc8c8
}

a{
    color:#2bc8c8
}